
<%- include ('partials/header.ejs') %>

    <div class="container m-5">
        <h1>Reflected XSS</h1>

        <p><b><%= user %></b> redirected to this page. ( i.e. /reflectedXSS/?username="Your Username" )</p>
    </div>

<%- include ('partials/footer.ejs') %>
